<mat-list role="list" class="popup-product">
    <mat-list-item role="listitem">
        <span matLine>Total product amount </span>
        <div class="kt-align-left">{{ totalAmount | number:'1.2-2' }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
        <span matLine>Total discount amount </span>
        <div class="kt-align-left">{{ totalDiscount | number:'1.2-2' }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
        <span matLine>Total gross amount </span>
        <div class="kt-align-left">{{ totalGrossAmount | number:'1.2-2' }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
        <span matLine>Total tax amount </span>
        <div class="kt-align-left">{{ totalTaxAmount | number:'1.2-2' }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
        <span matLine>Total net amount </span>
        <div class="kt-align-left">{{ totalNetAmount | number:'1.2-2' }}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>