<mat-divider></mat-divider>
<div class="col-lg-12 kt-margin-t-20 kt-margin-bottom-20 kt-margin-bottom-20-mobile">
    <h6 class="kt-portlet__head-title ng-star-inserted"> Total product amount: <strong>{{ totalAmount | number:'1.2-2' }}</strong></h6>
</div>
<mat-divider></mat-divider>
<div class="col-lg-12 kt-margin-bottom-20 kt-margin-bottom-20-mobile">
    <h6 class="kt-portlet__head-title ng-star-inserted"> Total discount amount: <strong>{{ totalDiscount | number:'1.2-2' }}</strong></h6>
</div>
<mat-divider></mat-divider>
<div class="col-lg-12 kt-margin-bottom-20 kt-margin-bottom-20-mobile">
    <h6 class="kt-portlet__head-title ng-star-inserted"> Total gross amount: <strong>{{ totalGrossAmount | number:'1.2-2' }}</strong></h6>
</div>
<mat-divider></mat-divider>
<div class="col-lg-12 kt-margin-bottom-20 kt-margin-bottom-20-mobile">
    <h6 class="kt-portlet__head-title ng-star-inserted"> Total tax amount: <strong>{{ totalTaxAmount | number:'1.2-2' }}</strong></h6>
</div>
<mat-divider></mat-divider>
<div class="col-lg-12 kt-margin-bottom-20 kt-margin-bottom-20-mobile">
    <h6 class="kt-portlet__head-title ng-star-inserted"> Total net amount: <strong>{{ totalNetAmount | number:'1.2-2' }}</strong></h6>
</div>
<mat-divider></mat-divider>