<div [formGroup]="productForm" class="kt-margin-t-10">
    <!-- <mat-accordion> -->
    <mat-expansion-panel class="kt-bg-light-dark" [id]="index" [expanded]="step == index">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <label>{{getControlLabel('productNameCtrl')}}</label>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list role="list">
                <ng-container *ngIf="OptionalSetting.isPriceEditable == 1; else elsePriceNotEditable">
                        
                        <mat-list-item role="listitem" style="margin-left: -11px; margin-top: 20px;">
                                <mat-form-field class="col-lg-12">
                                        <input  matInput formControlName="productPriceCtrl" placeholder="Price" (input)="getProductAmount();">
                                    </mat-form-field>
                                    <button mat-icon-button (click)="deleteProduct(index)" *ngIf="OptionalSetting.displayDeleteButton">
                                            <mat-icon class="mat-24 kt-font-danger">delete</mat-icon>
                                          </button>
                        </mat-list-item>
                        </ng-container>
                        <ng-template #elsePriceNotEditable>
                                <mat-list-item role="listitem">
                                        <h3 mat-line>Price: {{ getControlLabel('productPriceCtrl') }} </h3>
                                        <button mat-icon-button (click)="deleteProduct(index)" *ngIf="OptionalSetting.displayDeleteButton">
                                                    <mat-icon class="mat-24 kt-font-danger">delete</mat-icon>
                                                  </button>
                                    </mat-list-item>
                    </ng-template>
            <ng-container *ngIf="
pageAction != 'addSale'
&& pageAction != 'addOrder' 
&& pageAction != 'addPurchase' 
&& pageAction != 'retailerPurchaseApproval' 
&& pageAction != 'addDistributorSale'   
&& pageAction != 'retailerPurchaseReturnApproval'
&& pageAction != 'distributorPartialAcceptPurchaseReturnApproval'
&& pageAction != 'retailerPurchaseReturnApprovalByDistributor'
&& pageAction != 'viewDistributorPurchaseOrder'
&& pageAction != 'distributorPurchaseOrderEdit'
&& pageAction != 'addDistributorPurchase'
">

                <mat-list-item role="listitem">
                    <span matLine>Original quantity </span>
                    <div class="kt-align-right">{{getControlLabel('productOriginalQuantityCtrl')}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>

            <ng-container *ngIf="
pageAction == 'distributorPartialAcceptPurchaseReturnApproval'

">
                <mat-list-item role="listitem">
                    <span matLine>Original return quantity </span>
                    <div class="kt-align-right">{{getControlLabel('productOriginalQuantityCtrl')}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>

            <ng-container *ngIf="
pageAction == 'viewDistributorPurchaseOrder'

">
                <mat-list-item role="listitem">
                    <span matLine>Quantity </span>
                    <div class="kt-align-right">{{getControlLabel('productQuantityCtrl')}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>

            <ng-container *ngIf="
pageAction == 'retailerPurchaseReturnApproval'
|| pageAction == 'retailerPurchaseReturnApprovalByDistributor'
">

                <mat-list-item role="listitem">
                    <span matLine>Requested return quantity </span>
                    <div class="kt-align-right">{{getControlLabel('productOriginalQuantityCtrl')}}</div>
                </mat-list-item>
            </ng-container>

            <ng-container *ngIf="
pageAction == 'retailerPartialSalesAcceptApproval'
|| pageAction == 'distributorPartialAcceptPurchaseReturnApproval'
">
                <mat-list-item role="listitem">
                    <span matLine>Accepted quantity </span>
                    <div class="kt-align-right">{{getControlLabel('productAcceptedQuantityCtrl')}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
            <ng-container *ngIf="
pageAction != 'addSale'
&& pageAction != 'addOrder'
&& pageAction != 'addPurchase' 
&& pageAction != 'retailerPurchaseApproval' 
&& pageAction != 'addDistributorSale'
&& pageAction != 'retailerPartialSalesAcceptApproval'
&& pageAction != 'retailerPurchaseReturnApproval'
&& pageAction != 'distributorPartialAcceptPurchaseReturnApproval'
&& pageAction != 'retailerPurchaseReturnApprovalByDistributor'
&& pageAction != 'viewDistributorPurchaseOrder'
&& pageAction != 'distributorPurchaseOrderEdit'
&& pageAction != 'addDistributorPurchase'
">
                <mat-list-item role="listitem">
                    <span matLine>Total return quantity </span>
                    <div class="kt-align-right">{{ getControlLabel('productReturnedQuantityCtrl') }}</div>
                </mat-list-item>
            </ng-container>
            <mat-list-item role="listitem" *ngIf="
                pageAction == 'addSale' 
                || pageAction == 'addPurchase' 
                || pageAction == 'addDistributorSale'
                || pageAction == 'addOrder' 
                || pageAction == 'distributorPurchaseOrderEdit' 
                || pageAction == 'addDistributorPurchase' 
                || pageAction == 'distributorPurchaseEdit' 
                ">
                <mat-form-field class="col-lg-12" style="margin-left: -11px;">
                    <input
                    [attr.readonly]="(pageAction == 'viewSale' 
                    || pageAction == 'viewPurchase'
                    )"
                    maxlength="5" matInput formControlName="productQuantityCtrl" placeholder="Quantity" (input)="getProductAmount();">
                    <mat-error *ngIf="isControlHasError('productQuantityCtrl','required')">
                        <strong>{{ 'POPUPPRODUCT.VALIDATION.REQUIRED' | translate:{'name':'Quantity'} }}</strong>
                    </mat-error>

                    <mat-error *ngIf="isControlHasError('productQuantityCtrl','pattern')">
                        <strong>{{ 'POPUPPRODUCT.VALIDATION.NUMBER_PATTERN' | translate:{'name':'Quantity'} }}</strong>
                    </mat-error>

                    <mat-error *ngIf="isControlHasError('productQuantityCtrl','minLength')">
                        <strong>{{ 'POPUPPRODUCT.VALIDATION.MIN_LENGTH_FIELD' | translate }} 1</strong>
                    </mat-error>
                    
                    <mat-error *ngIf="isControlHasError('productQuantityCtrl','maxLength')">
                        <strong>{{ 'POPUPPRODUCT.VALIDATION.MAX_LENGTH_FIELD' | translate }} 5</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('productQuantityCtrl','min')">
                        <strong>{{ 'POPUPPRODUCT.VALIDATION.GREATER_THEN_ZERO' | translate:{'name':'Product quantity'} }}</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('productQuantityCtrl','validQuantity')">
                        <strong>{{ 'POPUPPRODUCT.VALIDATION.ONLY_INTEGER' | translate:{'name':'Product quantity'} }}</strong>
                    </mat-error>
                </mat-form-field>
            </mat-list-item>
            
                <ng-container formArrayName="productsSerialNoCtrl">
                        <ng-container *ngFor="let productsSerialNo of productForm['controls'].productsSerialNoCtrl['controls']; let l=index">
                            <ng-container [formGroupName]="l">
                                    <mat-list-item role="listitem" style=" margin-top:25px;">
                                            
                                                <!-- <ng-container *ngIf="
                                                pageAction != 'saleReturn'
                                                && pageAction != 'viewSale'
                                                ; else elseProductSrNoInputbox"> -->
                                                <mat-form-field class="col-lg-11" style="margin-left: -11px;">
                                                    <input
                                                     [readonly]="
                                                     pageAction == 'viewSale'
                                                     || pageAction == 'saleReturn'
                                                     || pageAction == 'viewDistributorSale'
                                                     || pageAction == 'retailerPartialSalesAcceptApproval'
                                                     || pageAction == 'viewDistributorPurchase'
                                                     || pageAction == 'distributorPurchaseReturn'
                                                     "
                                                      matInput formControlName="serialNumber" placeholder="Serial number {{l + 1}}">
                                                      
                                                </mat-form-field>
                                                    <button class="col-lg-1" *ngIf="
                                                    pageAction != 'viewDistributorPurchase'
                                                    && pageAction != 'retailerPartialSalesAcceptApproval'
                                                    && pageAction != 'viewSale'
                                                    && pageAction != 'viewDistributorSale'
                                                    "  mat-icon-button (click)="deleteProductSrNo(l)">
                                                        <mat-icon class="mat-24 kt-font-inverse-light">delete</mat-icon>
                                                      </button>
                                                <!-- </ng-container> -->
                                                <!-- <ng-template #elseProductSrNoInputbox> -->
                                                    <!-- <mat-checkbox formControlName="serialNumber" >Serial number {{l + 1}}</mat-checkbox> -->
                                                    <!-- <mat-checkbox formControlName="serialNumber" >{{ productForm['controls'].productsSerialNoCtrl['controls'][l]['controls']['serialNumber'].value }}</mat-checkbox> -->
                                                    
                                                    <!-- <mat-checkbox formControlName="serialNumber" >{{ productForm['controls'].productsSerialNoCtrl['controls'][l]['controls']['serialNumber'].value }}</mat-checkbox> -->
                                                    <!-- <mat-checkbox formControlName="serialNumber" >Serial number {{l + 1}}</mat-checkbox> -->
                                                <!-- </ng-template> -->
                                                
                                                    <mat-error *ngIf="isSrNoHasError('required',l)">
                                                            <strong>{{ 'POPUPPRODUCT.VALIDATION.REQUIRED' | translate:{'name':'products SerialNo'} }}</strong>
                                                        </mat-error>
                                                        
                                                        <mat-error *ngIf="isSrNoHasError('pattern',l)">
                                                                <strong>{{ 'POPUPPRODUCT.VALIDATION.NUMBER_PATTERN' | translate:{'name':'SerialNumber'} }}</strong>
                                                            </mat-error>
                                
                                                            <mat-error *ngIf="isSrNoHasError('maxLength',l)">
                                                                    <strong>{{ 'POPUPPRODUCT.VALIDATION.MAX_LENGTH_FIELD' | translate }} {{userData.companySettings.TotalCharsInSrNo}}</strong>
                                                                </mat-error>

                                                                <mat-error *ngIf="isSrNoHasError('minLength',l)">
                                                                        <strong>{{ 'POPUPPRODUCT.VALIDATION.MIN_LENGTH_FIELD' | translate }} {{userData.companySettings.TotalCharsInSrNo}}</strong>
                                                                    </mat-error>
                                                                    <mat-error *ngIf="isSrNoHasError('minlength',l)">
                                                                            <strong>{{ 'POPUPPRODUCT.VALIDATION.MIN_LENGTH_FIELD' | translate }} {{userData.companySettings.TotalCharsInSrNo}}</strong>
                                                                        </mat-error>
                                
                                                            <mat-error *ngIf="isSrNoHasError('maxlength',l)">
                                                                <strong>{{ 'POPUPPRODUCT.VALIDATION.MAX_LENGTH_FIELD' | translate }} {{userData.companySettings.TotalCharsInSrNo}}</strong>
                                                            </mat-error>
                                                </mat-list-item>
                            </ng-container>
                        </ng-container>
                </ng-container>

            <mat-list-item role="listitem" style="margin-top:25px;">
                <span matLine>Product Amount </span>
                <div class="kt-align-right">{{ productAmount | number:'1.2-2' }}</div>
            </mat-list-item>

            <ng-container *ngIf="OptionalSetting.isDiscountEditable == 1; else elseDiscountNotEditable">
                    <mat-list-item role="listitem" style="margin-left: -11px; margin-top: 20px;">
                            <mat-form-field class="col-lg-12">
                                    <input  matInput formControlName="productDiscountCtrl" placeholder="Discount(%)" (input)="getProductAmount();">
                                </mat-form-field>
                    </mat-list-item>
                </ng-container>
                <ng-template #elseDiscountNotEditable>
                    <mat-list-item role="listitem">
                        <span matLine>Discount @{{getControlLabel('productDiscountCtrl')}}% </span>
                        <div class="kt-align-right">{{ productDiscount | number:'1.2-2' }}</div>
                    </mat-list-item>
                </ng-template>

            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
                <span matLine>Gross Amount </span>
                <div class="kt-align-right">{{ productGrossAmount | number:'1.2-2' }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <ng-container *ngIf="isSGSTTax">
                <mat-list-item role="listitem">
                    <span matLine>SGST @{{getControlLabel('productTaxSGSTCtrl')}}% </span>
                    <div class="kt-align-right">{{ productSGST | number:'1.2-2' }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <span matLine>CGST @{{getControlLabel('productTaxCGSTCtrl')}}% </span>
                    <div class="kt-align-right">{{ productCGST | number:'1.2-2' }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>

            <ng-container *ngIf="isIGSTTax">
                <mat-list-item role="listitem">
                    <span matLine>SGST @{{getControlLabel('productTaxIGSTCtrl')}}% </span>
                    <div class="kt-align-right">{{ productIGST | number:'1.2-2' }}</div>
                </mat-list-item>
            </ng-container>


            <mat-list-item role="listitem" class="font-weight-bold">
                <span matLine class="font-weight-bold">Product Net Amount </span>
                <div class="kt-align-right">{{ productNetAmount | number:'1.2-2' }}</div>
            </mat-list-item>
            <ng-template [ngIf]="OptionalSetting.displayPointCalculation">
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <span matLine class="text-info">Loyalty Point:({{ coreProductLoyaltyPoint }} * {{ productQuantity }}) </span>
                    <div class="kt-align-right">{{ productLoyaltyPoint | number:'1.2-2' }}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">
                    <span matLine class="text-info">Loyalty Boost Point </span>
                    <div class="kt-align-right">{{ productLoyaltyBoostPoint | number:'1.2-2' }}</div>
                </mat-list-item>
            </ng-template>
        </mat-list>
    </mat-expansion-panel>
    <!-- </mat-accordion> -->
</div>