<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [viewLoading$]="dataSource.loading$">

        <!-- <ng-container ktPortletTools>
            <button (click)="addRole()" mat-raised-button matTooltip="Create new role" color="primary" type="button">
				<span>New Role</span>
			</button> -->
        <!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
        <!-- mat-raised-button | Rectangular contained button w/ elevation  -->
        <!-- </ng-container>-->
    </kt-portlet-header>
    <!-- end::Header -->

    <kt-portlet-body>
        <!-- start::FILTERS & GROUP ACTIONS -->
        <!-- <div class="kt-form kt-margin-b-30"> -->
        <!-- start::FILTERS -->
        <!-- <div class="kt-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Search user" #searchInput placeholder="Search">
                            <mat-hint align="start">
                                <strong>Search</strong> in all fields
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div> -->
        <!-- end::FILTERS -->

        <!-- start::GROUP ACTIONS -->
        <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
        <!-- Group actions are shared for all LISTS -->
        <!-- <div class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}"> -->
        <!-- We show 'Group Actions' div if smth are selected -->
        <!-- <div class="col-xl-12">
                    <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label kt-form__label-no-wrap">
                            <label class="kt--font-bold kt-font-danger-">
								<span translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"></span> {{ selection.selected.length }}
							</label> -->
        <!-- selectedCountsTitle => function from codeBehind (roles-list.component.ts file) -->
        <!-- selectedCountsTitle => just returns title of selected items count -->
        <!-- for example: Selected records count: 4 -->
        <!-- </div>
                        <div class="kt-form__control kt-form__group--inline">
                            <button (click)="fetchRoles()" mat-raised-button matTooltip="Fetch selected sales" class="mat-button-mt-4">
								<mat-icon>clear_all</mat-icon>
								Fetch Selected
							</button>
                        </div>
                    </div>
                </div> -->
        <!-- </div> -->
        <!-- end::GROUP ACTIONS -->
        <!-- </div> -->
        <!-- end::FILTERS & GROUP ACTIONS -->

        <!-- MATERIAL TABLE | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
        <div class="mat-table__wrapper">
            <mat-card *ngIf="!(dataSource.isPreloadTextViewed$ | async)">
                <mat-card-header>
                    <mat-card-subtitle>{{salesActiveSchemeDetail.scheme_name}}</mat-card-subtitle>
                    <mat-card-title>{{salesActiveSchemeDetail.bonus_value}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <ngb-progressbar value="{{progressBarValue}}" type="warning"></ngb-progressbar>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <span class="pull-right">{{ salesActiveSchemeDetail.to | number : '1.2-2'}} Points</span>
                    <!-- <span>{{salesActiveSchemeDetail.from | number : '1.2-2'}} Points</span> -->
                    <span>{{ accumulated_points | number : '1.2-2'}} Points</span>
                </mat-card-actions>
            </mat-card>
            <h4 mat-line class="text-center mt-3">Sales List</h4>

            <!-- start:: filter -->
            <div class="kt-form__filtration around_border">
                <div class="row align-items-center">
                    <div class="col-md-2 kt-margin-bottom-10-mobile">
                        <table>
                            <tr>
                                <td colspan="2"> Filter</td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="dp3" #startDateInput placeholder="Satrt Date" disabled>
                                        <mat-datepicker-toggle matSuffix [for]="dp3">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker touchUi #dp3 disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </td>

                                <td>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="dp4" #endDateInput placeholder="End Date" disabled>
                                        <mat-datepicker-toggle matSuffix [for]="dp4">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker touchUi #dp4 disabled="false"></mat-datepicker>

                                    </mat-form-field>
                                </td>
                                <td>
                                    <button (click)="loadSalesList()" mat-raised-button color="accent">Apply</button>
                                </td>
                            </tr>
                        </table>
                        <!-- <mat-form-field class="mat-form-field-fluid">
                                        <input matInput placeholder="Search user" #searchInput placeholder="Search">
                                        <mat-hint align="start">
                                            <strong>Search</strong> in all fields
                                        </mat-hint>
                                    </mat-form-field> -->
                    </div>
                </div>
            </div>

            <!-- end::filter -->

            <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort" matSortActive="id" matSortDirection="asc" matSortDisableClear>
                <!-- Checkbox Column -->

                <!-- Table with selection -->
                <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{sales.date | date: 'dd-MM-yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="customer_name">
                    <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{sales.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="invoice_id">
                    <mat-header-cell *matHeaderCellDef>Invoice ID</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{sales.invoice_id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="scheme_id">
                    <mat-header-cell *matHeaderCellDef>Scheme ID</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{sales.scheme_id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total_quantity">
                    <mat-header-cell *matHeaderCellDef>Total quantiry</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{totalQuantity(sales.product) | number}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total_amount">
                    <mat-header-cell *matHeaderCellDef>Total amount</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{totalAmount(sales.product) | number}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total_loyalty_point">
                    <mat-header-cell *matHeaderCellDef>Total loyalty point</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{totalLoyaltyPoints(sales.product) | number}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total_loyalty_boost_point">
                    <mat-header-cell *matHeaderCellDef>Total loyalty boost point</mat-header-cell>
                    <mat-cell *matCellDef="let sales">{{totalBoostPoints(sales.product) | number}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let sales">
                        <button mat-icon-button color="primary" matTooltip="View sales" (click)="viewSale(sales.id)">
							<mat-icon> visibility </mat-icon>
						</button>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let role">
                            <button mat-icon-button color="primary" matTooltip="{{ role.isCoreRole ? 'View' : 'Edit'}} role" (click)="editRole(role)">
							<mat-icon>
								{{ role.isCoreRole ? 'visibility' : 'create' }}
							</mat-icon>
						</button>&nbsp;
                            <button mat-icon-button color="warn" matTooltip="Delete role" type="button" [disabled]="role.isCoreRole" (click)="deleteRole(role)">
							<mat-icon>delete</mat-icon>
						</button>
                        </mat-cell>
                    </ng-container> -->

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!(dataSource.isPreloadTextViewed$ | async) && !(dataSource.hasItems)">No records found</div>
            <!-- Message for empty data  -->
            <div class="mat-table__message" *ngIf="(dataSource.isPreloadTextViewed$ | async)">Please wait....</div>
        </div>

        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
            <mat-spinner [hidden]="true" [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <!-- MATERIAL PAGINATOR | Binded to dasources -->
            <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
            <mat-paginator [hidden]="true" [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>