<kt-portlet>
    <!-- <kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
    </kt-portlet-header> -->

    <kt-portlet-body>
        <!--begin::Form-->
        <form [formGroup]="purchaseForm" class="kt-form kt-form--group-seperator-dashed">
            <!-- <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 kt-ribbon--border-dash-hor"> -->
            <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
                Oh snap! Change a few things up and try submitting again.
            </kt-alert>
            <div class="kt-form__section kt-form__section--first">
                <div class="form-group kt-form__group row">
                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                        <h6 class="kt-portlet__head-title ng-star-inserted"> Scheme name: <strong>{{ purchaseActiveScheme.scheme_name }}</strong></h6>
                        <!-- <h6 class="kt-portlet__head-title ng-star-inserted"> Scheme name: <strong>{{ purchaseActiveScheme | json }}</strong></h6> -->
                        <input [hidden]="true" [value]="purchaseActiveScheme.scheme_id" formControlName="scheme_id">
                    </div>

                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select formControlName="distributor_id" placeholder="Distributor">
                                <ng-template #loading1>
                                    <mat-option value=''>
                                        Loading...
                                    </mat-option>
                                </ng-template>

                                <ng-template #noDistributor>
                                    <mat-option value=''>
                                        No distributor
                                    </mat-option>
                                </ng-template>

                                <ng-container *ngIf="!(viewLoading$  | async); else loading1">
                                    <ng-container *ngIf="(distributor$ | async)?.length; else noDistributor">
                                        <mat-option *ngFor="let distributorArray of ((distributor$ | async) | keyvalue)" [value]="distributorArray.value.ID">
                                            {{distributorArray.value.Name}}
                                        </mat-option>
                                    </ng-container>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-12 kt-margin-bottom-20-mobile">
                        <div class="kt-form__heading">
                            <h3 class="kt-form__heading-title pointer-cursor">Product detail (<span matTooltip="Add new product" (click)="addProduct()" class="kt-portlet__head-icon">
                                <i class="la la-plus"></i>
                            </span>)</h3>
                        </div>
                        <div formArrayName="products">
                            <div *ngFor="let product of purchaseForm['controls'].products['controls']; let i=index">
                                <div [formGroupName]="i">
                                    <!-- <input formControlName="productBarCodeCtrl" placeholder="Item name"> -->
                                    <!-- index: {{productBarCodeCtrl}} -->
                                    <kt-popup-add-product (quantityChange)="commonCalculation($event)" [group]="purchaseForm.controls.products.controls[i]" [parantGroup]="purchaseForm" [index]="i" [OptionalSetting]="OptionalSetting"></kt-popup-add-product>
                                </div>
                            </div>
                        </div>
                        <ng-template #popupProductCalculation></ng-template>
                        <!-- <ng-template (newAddedProductsIds)="newAddedProductsIdsUpdate($event)"></ng-template> -->
                    </div>
                </div>
            </div>
            <button (click)="submit()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" [disabled]="loading" [disabled]="!purchaseForm.valid" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Add Purchase</button>
            <!-- </div>
                <div class="col-lg-2"></div>
            </div> -->
        </form>
        <!--end::Form-->
    </kt-portlet-body>
</kt-portlet>