<mat-tab-group mat-stretch-tabs (selectedTabChange)="tabChangeEvent($event)">
    <mat-tab md-stretch-tabs="yes" label="Notifications">
        <div class="kt-section">
            <div class="kt-section__content">
                <span *ngIf="error$ | async as error">{{error}}</span>
                <mat-list *ngIf="!(notificationLoading$ | async); else loading">
                    <ng-container *ngIf="(notifications$ | async)?.length; else noNotification">
                        <ng-container *ngFor=" let notification of (notifications$ |async)">
                            <mat-list-item [ngClass]="{
                                'background-status-1': notification.Status == app_constants.NOTIFICATION_STATUS.STATUS_PENDING,
                                    'background-status-2': notification.Status == app_constants.NOTIFICATION_STATUS.STATUS_APPROVED,
                                    'background-status-3': notification.Status == app_constants.NOTIFICATION_STATUS.STATUS_REJECTED,
                                    'background-status-4': notification.Status == app_constants.NOTIFICATION_STATUS.STATUS_CANCELLED,
                                    'background-status-5': notification.Status == app_constants.NOTIFICATION_STATUS.STATUS_ALERT
                            }">
                                <mat-icon mat-list-icon>notifications_active</mat-icon>
                                <h4 mat-line>{{notification.Message}}</h4>
                                <p mat-line> {{notification.Last_Modified | date: 'dd-MMM-yyyy, h:mm:ss a':'+1100'}} </p>
                                <!-- </span> -->
                                <mat-divider></mat-divider>
                            </mat-list-item>
                        </ng-container>
                    </ng-container>
                    <ng-template #noNotification>
                        <mat-card>No Notification Yet!</mat-card>
                    </ng-template>
                </mat-list>

                <ng-template #loading>
                    <div style="margin-left: 50%;">
                        <mat-spinner color="warn" diameter="30" strokeWidth="2"></mat-spinner>
                        <div style="position:relative;">
                            Loading...
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </mat-tab>
    <mat-tab md-stretch-tabs="yes" label="Approvals">

        <div class="kt-section">
            <div class="kt-section__content">
                <span *ngIf="approvalError$ | async as approvalError">{{approvalError}}</span>
                <mat-list *ngIf="!(approvalLoading$ | async); else loadingApproval">
                    <ng-container *ngIf="(approvals$ | async)?.length; else noApproval">
                        <ng-container *ngFor=" let approval of (approvals$ |async)">
                            <mat-list-item [ngClass]="{
                                    'background-status-1': approval.Status == app_constants.NOTIFICATION_STATUS.STATUS_PENDING,
                                    'background-status-2': approval.Status == app_constants.NOTIFICATION_STATUS.STATUS_APPROVED,
                                    'background-status-3': approval.Status == app_constants.NOTIFICATION_STATUS.STATUS_REJECTED,
                                    'background-status-4': approval.Status == app_constants.NOTIFICATION_STATUS.STATUS_CANCELLED,
                                    'background-status-5': approval.Status == app_constants.NOTIFICATION_STATUS.STATUS_ALERT
                                }">
                                <mat-icon mat-list-icon>notifications_active</mat-icon>
                                <h4 mat-line>{{approval.Message}}</h4>
                                <p mat-line> {{approval.Last_Modified | date: 'dd-MMM-yyyy, h:mm:ss a':'+1100'}} </p>
                                <mat-action-list>
                                    <button mat-list-item color="accent" (click)="viewApproval(approval)"> <mat-icon aria-hidden="false" aria-label="View Notification">remove_red_eye</mat-icon> </button>
                                </mat-action-list>
                                <mat-divider></mat-divider>
                            </mat-list-item>
                        </ng-container>
                    </ng-container>
                    <ng-template #noApproval>
                        <mat-card>No Approval Yet!</mat-card>
                    </ng-template>
                </mat-list>

                <ng-template #loadingApproval>
                    <div style="margin-left: 50%;">
                        <mat-spinner color="warn" diameter="30" strokeWidth="2"></mat-spinner>
                        <div style="position:relative;">
                            Loading...
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </mat-tab>
    <mat-tab md-stretch-tabs="yes" label="My Pending Approval">
        <div class="kt-section">
            <div class="kt-section__content">
                <span *ngIf="myPendingApprovalError$ | async as myPendingApprovalError">{{myPendingApprovalError}}</span>
                <mat-list *ngIf="!(myPendingApprovalLoading$ | async); else myPendingApprovalLoading">
                    <ng-container *ngIf="(myPendingApprovals$ | async)?.length; else noMyPendingApproval">
                        <ng-container *ngFor=" let myPendingApprovals of (myPendingApprovals$ |async)">
                            <mat-list-item [ngClass]="{
                                'background-status-1': myPendingApprovals.Status == app_constants.NOTIFICATION_STATUS.STATUS_PENDING,
                                'background-status-2': myPendingApprovals.Status == app_constants.NOTIFICATION_STATUS.STATUS_APPROVED,
                                'background-status-3': myPendingApprovals.Status == app_constants.NOTIFICATION_STATUS.STATUS_REJECTED,
                                'background-status-4': myPendingApprovals.Status == app_constants.NOTIFICATION_STATUS.STATUS_CANCELLED,
                                'background-status-5': myPendingApprovals.Status == app_constants.NOTIFICATION_STATUS.STATUS_ALERT
                                }">
                                <mat-icon mat-list-icon>notifications_active</mat-icon>
                                <h4 mat-line>{{myPendingApprovals.Message}}</h4>
                                <p mat-line> {{myPendingApprovals.Last_Modified | date: 'dd-MMM-yyyy, h:mm:ss a':'+1100'}} </p>
                                <mat-divider></mat-divider>
                            </mat-list-item>
                        </ng-container>
                    </ng-container>
                    <ng-template #noMyPendingApproval>
                        <mat-card>No Any My Pending Approval Yet!</mat-card>
                    </ng-template>
                </mat-list>

                <ng-template #myPendingApprovalLoading>
                    <div style="margin-left: 50%;">
                        <mat-spinner color="warn" diameter="30" strokeWidth="2"></mat-spinner>
                        <div style="position:relative;">
                            Loading...
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>